<ion-header>
  <ion-toolbar color="danger">    
      <ion-button color="danger" shape="round" href="#">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    <ion-title>Informações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">

  <div class="banner">
    <div class="info-banner">
      <h2>Aves de Rapina</h2>
      <p>2020 &nbsp;&nbsp; L &nbsp;&nbsp; 1h49 </p>
      <ion-button color="success" size="small">Assistir</ion-button>
    </div>
  </div>

  <ion-header>
    <ion-toolbar  color="dark">
      <ion-title>Sinopse </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-item color="medium">
      <div>
        <p>Arlequina, Canário Negro, Caçadora, Cassandra Cain e a policial Renée Montoya formam um grupo inusitado de heroínas. 
          Quando um perigoso criminoso começa a causar destruição em Gotham, as cinco mulheres precisam se unir para defender a cidade.</p>
      </div>
    </ion-item>
  </ion-card>

  <ion-header>
    <ion-toolbar  color="dark">
      <ion-title>Elenco </ion-title>
    </ion-toolbar>
  </ion-header>
    <ion-list>
      <ion-item color="medium">
        <ion-avatar slot="start">
          <img src="https://image.tmdb.org/t/p/w138_and_h175_face/izp3xnMb7EosXGiQDA09nEbCkYV.jpg">
        </ion-avatar>
        <ion-label>
          <h2>Margot Robbie</h2>
          <h3>Harleen Quinzel / Harley Quinn</h3>
        </ion-label>
      </ion-item>

      <ion-item color="medium">
        <ion-avatar slot="start">
          <img src="https://image.tmdb.org/t/p/w138_and_h175_face/aEmyadfRXTmmR7UW7OXsm5a6smS.jpg">
        </ion-avatar>
        <ion-label>
          <h2>Ewan McGregor</h2>
          <h3>Roman Sionis / Black Mask</h3>
        </ion-label>
      </ion-item>

      <ion-item color="medium">
        <ion-avatar slot="start">
          <img src="https://image.tmdb.org/t/p/w138_and_h175_face/cBMtncBcUrKMTB8CifDG23THuCE.jpg">
        </ion-avatar>
        <ion-label>
          <h2>Mary Elizabeth Winstead</h2>
          <h3>Helena Bertinelli / Huntress</h3>
        </ion-label>
      </ion-item>

      <ion-item color="medium">
        <ion-avatar slot="start">
          <img src="https://image.tmdb.org/t/p/w138_and_h175_face/3IEL6dfaDwwp3xf5QdNrWFbbtRK.jpg">
        </ion-avatar>
        <ion-label>
          <h2>Jurnee Smollett-Bell</h2>
          <h3>Dinah Lance / Black Canary</h3>
        </ion-label>
      </ion-item>

      <ion-item color="medium">
        <ion-avatar slot="start">
          <img src="https://image.tmdb.org/t/p/w138_and_h175_face/c3FpKiEm3lks1CYE8JN5fRwr6ic.jpg">
        </ion-avatar>
        <ion-label>
          <h2>Rosie Perez</h2>
          <h3>Detective Renee Montoya</h3>
        </ion-label>
      </ion-item>

      <ion-item color="medium">
        <ion-avatar slot="start">
          <img src="https://image.tmdb.org/t/p/w138_and_h175_face/qCDNp5KPCemOl6L9jD1xTSTWybl.jpg">
        </ion-avatar>
        <ion-label>
          <h2>Ella Jay Basco</h2>
          <h3>Cassandra Cain</h3>
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-header>
      <ion-toolbar  color="dark">
        <ion-title> Avaliação dos usuários </ion-title>
        <div slot="end" class="c100 p74 small green">
          <span>72%</span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>
      </ion-toolbar>
    </ion-header>

    <ion-header>
      <ion-toolbar  color="dark">
    <ion-slides>
      <ion-slide>
          <img src="https://image.tmdb.org/t/p/w533_and_h300_bestv2/uozb2VeD87YmhoUP1RrGWfzuCrr.jpg"/>
      </ion-slide>

      <ion-slide>
        <img src="https://image.tmdb.org/t/p/w533_and_h300_bestv2/kvbbK2rLGSJh9rf6gg1i1iVLYQS.jpg"/>
      </ion-slide>

      <ion-slide>
        <img src="https://image.tmdb.org/t/p/w500_and_h282_face/fARCQhjv9E7eBo6jL5QBzRBUUOX.jpg"/>
      </ion-slide>

      <ion-slide>
        <img src="https://image.tmdb.org/t/p/w500_and_h282_face/wEbdUICvkqtOoqre0M1Q05iKul1.jpg"/>
      </ion-slide>

      <ion-slide>
        <img src="https://image.tmdb.org/t/p/w500_and_h282_face/jiqD14fg7UTZOT6qgvzTmfRYpWI.jpg"/>
      </ion-slide>

      <ion-slide>
        <img src="https://image.tmdb.org/t/p/w500_and_h282_face/eEt25CyQ9ge6EI1Kn0fnGyDRN1m.jpg"/>
      </ion-slide>
    </ion-slides>
      </ion-toolbar>
  </ion-header>

</ion-content>