<ion-header>
  <ion-toolbar color="danger">
    <ion-title class="ion-text-center">
      Séries
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">

  <ion-card color="dark">
    <ion-card-header routerLink="/riverdale">
      <img src="https://image.tmdb.org/t/p/w500_and_h282_face/5dPm3AO8XiDpgrRkqNtsLTfF9yX.jpg">
    </ion-card-header>

    <ion-item color="dark">

    </ion-item>
      <h1>Riverdale <span>(2017)</span></h1>
    <ion-item color="medium">
      <div class="info ion-text-center">
        <span class="tipo">TV-14</span> <span class="duracao">45m</span>
        <p>Drama, Mistério</p>
      </div>
    </ion-item>
    <ion-item color="dark">
      <div>
        <h2>Sinopse</h2>
        <p>Enquanto tentam lidar com problemas típicos da adolescência como amor, sexo, escola e família, 
          Archie e sua turma se envolvem em um grande mistério.</p>
      </div>
    </ion-item>
  </ion-card>

  <ion-card color="dark">
    <ion-card-header routerLink="/the-walking-dead">
      <img src="https://image.tmdb.org/t/p/w533_and_h300_bestv2/f9fpHGgqRpoaL2CnBg7ro7RAzkI.jpg">
    </ion-card-header>

    <ion-item color="dark">

    </ion-item>
      <h1>The Walking Dead <span>(2010)</span></h1>
    <ion-item color="medium">
      <div class="info ion-text-center">
        <span class="tipo">TV-MA</span> <span class="duracao">42m</span>
        <p>Action & Adventure, Drama, Sci-Fi & Fantasy</p>
      </div>
    </ion-item>
    <ion-item color="dark">
      <div>
        <h2>Sinopse</h2>
        <p>Nos Estados Unidos pós-apocalíptico, um pequeno grupo de sobreviventes segue viajando à procura de uma nova casa longe dos mortos-vivos. 
          O desespero por segurança e suprimentos os coloca constantemente à beira da sanidade.</p>
      </div>
    </ion-item>
  </ion-card>

</ion-content>
