<ion-header>
  <ion-toolbar color="danger">
    <ion-title>
      Filmes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
<div class="banner">
  <div class="info-banner">
    <h2>Diário de um Vampiro</h2>
    <p>2009 &nbsp;&nbsp; 16 &nbsp;&nbsp; 8 temporadas</p>
    <ion-button color="success" size="small">Assistir</ion-button>
    <ion-button fill="outline" color="light" size="small">Episódios</ion-button>
  </div>
</div>

<ion-grid>
  <h1>Populares</h1>
  <ion-row>
    <ion-col routerLink="/bloodshot">
      <img src="https://image.tmdb.org/t/p/w220_and_h330_face/5Z7AJiQhocA20MkI5JXZ6OjTxEW.jpg">
    </ion-col>

    <ion-col routerLink="/aves-de-rapina">
      <img src="https://image.tmdb.org/t/p/w220_and_h330_face/A50Ngq9lh9aCTGHC6kttrppHNoF.jpg">
    </ion-col>
  </ion-row>

  <h1>Em cartaz</h1>
  <ion-row>
    <ion-col>
      <img src="https://image.tmdb.org/t/p/w220_and_h330_face/zEae3Y5gB7e8Z3LZWsMWZcrsf92.jpg">
    </ion-col>

    <ion-col>
      <img src="https://image.tmdb.org/t/p/w220_and_h330_face/g9WA3biUqXVUU4snaB2f6O24F01.jpg">
    </ion-col>
  </ion-row>

  <h1>Próximas estreias</h1>
  <ion-row>
    <ion-col>
      <img src="https://image.tmdb.org/t/p/w220_and_h330_face/mDt3GkephI5yrRsEgLfdo3MYxyj.jpg">
    </ion-col>

    <ion-col>
      <img src="https://image.tmdb.org/t/p/w220_and_h330_face/niyXFhGIk4W2WTcX2Eod8vx2Mfe.jpg">
    </ion-col>
  </ion-row>

  <h1>Mais bem avaliados</h1>
  <ion-row>
    <ion-col>
      <img src="https://image.tmdb.org/t/p/w220_and_h330_face/igw938inb6Fy0YVcwIyxQ7Lu5FO.jpg">
    </ion-col>

    <ion-col>
      <img src="https://image.tmdb.org/t/p/w220_and_h330_face/tptjnB2LDbuUWya9Cx5sQtv5hqb.jpg">
    </ion-col>
  </ion-row>

</ion-grid>
</ion-content>
