<ion-header>
  <ion-toolbar color="danger">
    <ion-title>
      Desenhos 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item lines="full" routerLink="/os-simpsons">
      <ion-thumbnail slot="start">
        <img src="assets/simpsons.jpg">
      </ion-thumbnail>
      <ion-label>
        Os Simpsons
      </ion-label>

      <div slot="end" class="c100 p74 small green">
        <span>74%</span>
        <div class="slice">
          <div class="bar"></div>
          <div class="fill"></div>
        </div>
      </div>
    </ion-item>


    <ion-item lines="full" routerLink="/hora-de-aventura">
      <ion-thumbnail slot="start">
        <img src="assets/aventura.jpg">
      </ion-thumbnail>
      <ion-label>
        Hora de Aventura
      </ion-label>

      <div slot="end" class="c100 p77 small green">
        <span>77%</span>
        <div class="slice">
          <div class="bar"></div>
          <div class="fill"></div>
        </div>
      </div>
    </ion-item>


    <ion-item lines="full">
      <ion-thumbnail slot="start">
        <img src="assets/rick.jpg">
      </ion-thumbnail>
      <ion-label>
        Rick & Morty
      </ion-label>

      <div slot="end" class="c100 p87 small green">
        <span>87%</span>
        <div class="slice">
          <div class="bar"></div>
          <div class="fill"></div>
        </div>
      </div>
    </ion-item>


    <ion-item lines="full">
      <ion-thumbnail slot="start">
        <img src="assets/meninas.jpg">
      </ion-thumbnail>
      <ion-label>
        As Meninas Super Poderosas
      </ion-label>

      <div slot="end" class="c100 p61 small orange">
        <span>61%</span>
        <div class="slice">
          <div class="bar"></div>
          <div class="fill"></div>
        </div>
      </div>
    </ion-item>


    <ion-item lines="full">
      <ion-thumbnail slot="start">
        <img src="assets/jorel.jpg">
      </ion-thumbnail>
      <ion-label>
        Irmão do Jorel
      </ion-label>

      <div slot="end" class="c100 p85 small green">
        <span>85%</span>
        <div class="slice">
          <div class="bar"></div>
          <div class="fill"></div>
        </div>
      </div>
    </ion-item>

  </ion-list>
</ion-content>
