<ion-header>
  <ion-toolbar color="danger">    
      <ion-button color="danger" shape="round" href="#">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    <ion-title class="ion-text-center">Informações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">

  <div class="banner">
    <div class="info-banner">
      <h2>Bloodshot</h2>
      <p>2020 &nbsp;&nbsp; 14 &nbsp;&nbsp; 1h49 </p>
      <ion-button color="success" size="small">Assistir</ion-button>
    </div>
  </div>

  <ion-header>
    <ion-toolbar  color="dark">
      <ion-title class="ion-text-center">Sinopse </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-item color="medium">
      <div>
        <p>Bloodshot é um ex-soldado com poderes especiais: o de regeneração e a capacidade de se metamorfosear. 
          Assassinado ao lado da esposa, ele é ressuscitado e aprimorado com nanotecnologia, desenvolvendo tais habilidades. 
          Ao apagarem sua memória várias vezes, ele finalmente descobre quem realmente é e parte em um busca de vingança daqueles que mataram sua família.</p>
      </div>
    </ion-item>
  </ion-card>

  <ion-header>
    <ion-toolbar  color="dark">
      <ion-title class="ion-text-center">Elenco </ion-title>
    </ion-toolbar>
  </ion-header>
    <ion-list>
      <ion-item color="medium">
        <ion-avatar slot="start">
          <img src="https://image.tmdb.org/t/p/w138_and_h175_face/7rwSXluNWZAluYMOEWBxkPmckES.jpg">
        </ion-avatar>
        <ion-label>
          <h2>Vin Diesel</h2>
          <h3>Ray Garrison / Bloodshot</h3>
        </ion-label>
      </ion-item>

      <ion-item color="medium">
        <ion-avatar slot="start">
          <img src="https://image.tmdb.org/t/p/w138_and_h175_face/2EpyDXqw1oyJnKayu2XshczjiBN.jpg">
        </ion-avatar>
        <ion-label>
          <h2>Eiza González</h2>
          <h3>KT</h3>
        </ion-label>
      </ion-item>

      <ion-item color="medium">
        <ion-avatar slot="start">
          <img src="https://image.tmdb.org/t/p/w138_and_h175_face/v6wWNnDdTr2Ern93ljCkM6uEyUB.jpg">
        </ion-avatar>
        <ion-label>
          <h2>Sam Heughan</h2>
          <h3>Jimmy Dalton</h3>
        </ion-label>
      </ion-item>

      <ion-item color="medium">
        <ion-avatar slot="start">
          <img src="https://image.tmdb.org/t/p/w138_and_h175_face/mlYytYJvoEHmhDH2enLtES1098Q.jpg">
        </ion-avatar>
        <ion-label>
          <h2>Toby Kebbell</h2>
          <h3>Martin Axe</h3>
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-header>
      <ion-toolbar  color="dark">
        <ion-title> Avaliação dos usuários </ion-title>
        <div slot="end" class="c100 p74 small green">
          <span>70%</span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>
      </ion-toolbar>
    </ion-header>

    <ion-header>
      <ion-toolbar  color="dark">
    <ion-slides>
      <ion-slide>
          <img src="https://image.tmdb.org/t/p/w533_and_h300_bestv2/nUeWtk2hCw73iVxp5TWAsd72H8M.jpg"/>
      </ion-slide>

      <ion-slide>
        <img src="https://image.tmdb.org/t/p/w533_and_h300_bestv2/lyUVdZtGVA8tmIDAlNaMRyS7fDf.jpg"/>
      </ion-slide>

      <ion-slide>
        <img src="https://image.tmdb.org/t/p/w500_and_h282_face/cJJis9t8yFJj62lJCFl9jkgyv9f.jpg"/>
      </ion-slide>

      <ion-slide>
        <img src="https://image.tmdb.org/t/p/w500_and_h282_face/9OpmByatUpjM2Lu6FvAZCwPju8K.jpg"/>
      </ion-slide>
    </ion-slides>
      </ion-toolbar>
  </ion-header>

</ion-content>
