<ion-header>
  <ion-toolbar color="danger">    
      <ion-button color="danger" shape="round" href="#">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    <ion-title class="ion-text-center">Informações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">

  <div class="banner">
    <div class="info-banner">
      <h2>Hora de Aventura</h2>
      <p>2010 &nbsp;&nbsp; L &nbsp;&nbsp; 11m </p>
      <ion-button color="success" size="small">Assistir</ion-button>
    </div>
  </div>

  <ion-header>
    <ion-toolbar  color="dark">
      <ion-title class="ion-text-center">Sinopse </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-item color="medium">
      <div>
        <p>Adventure Time (Hora de Aventura (título no Brasil) ou Hora de Aventuras (título em Portugal)) é uma série de desenho animado 
          americana criada por Pendleton Ward para o Cartoon Network. A série segue as aventuras de Finn (dublado por Jeremy Shada), 
          um garoto humano aventureiro, e o seu melhor amigo e irmão adotivo Jake (dublado por John DiMaggio), um cão com poderes 
          que lhe permitem alterar a forma e tamanho consoante a sua vontade. Finn e Jake habitam a pós-apocalíptica Terra de Ooo, onde 
          interagem com os outros personagens principais da série: Princesa Jujuba (dublada por Hynden Walch), o Rei Gelado 
          (dublado por Tom Kenny) e Marceline, a Rainha dos Vampiros(dublada por Olivia Olson).</p>
      </div>
    </ion-item>
  </ion-card>

  <ion-header>
    <ion-toolbar  color="dark">
      <ion-title class="ion-text-center">Elenco </ion-title>
    </ion-toolbar>
  </ion-header>
    <ion-list>
      <ion-item color="medium">
        <ion-avatar slot="start">
          <img src="https://image.tmdb.org/t/p/w138_and_h175_face/qTV1zef7qpQsNhjGh1QcKO00ZxZ.jpg">
        </ion-avatar>
        <ion-label>
          <h2>Jeremy Shada</h2>
          <h3>Finn the Human</h3>
        </ion-label>
      </ion-item>

      <ion-item color="medium">
        <ion-avatar slot="start">
          <img src="https://image.tmdb.org/t/p/w138_and_h175_face/awmyFwU6ErFJbGFFzhBYZ9AQn8m.jpg">
        </ion-avatar>
        <ion-label>
          <h2>John DiMaggio</h2>
          <h3>Jake the Dog</h3>
        </ion-label>
      </ion-item>

      <ion-item color="medium">
        <ion-avatar slot="start">
          <img src="https://image.tmdb.org/t/p/w138_and_h175_face/b9zMwpHnVMarGGhqLR6ckrnaHpB.jpg">
        </ion-avatar>
        <ion-label>
          <h2>Tom Kenny</h2>
          <h3>Princess #1, Ice King</h3>
        </ion-label>
      </ion-item>

      <ion-item color="medium">
        <ion-avatar slot="start">
          <img src="https://image.tmdb.org/t/p/w138_and_h175_face/pFSy3Q57oU39NVebHzPkpTrANZe.jpg">
        </ion-avatar>
        <ion-label>
          <h2>Olivia Olson</h2>
          <h3>Marceline the Vampire Queen</h3>
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-header>
      <ion-toolbar  color="dark">
    <ion-slides>
      <ion-slide>
          <img src="https://image.tmdb.org/t/p/w500_and_h282_face/xNJGvSS5PcJoqNZJahgGPwu8F4z.jpg"/>
      </ion-slide>
  
      <ion-slide>
        <img src="https://image.tmdb.org/t/p/w500_and_h282_face/F014Awep3nLOJxu05sj4ntlFn0.jpg"/>
      </ion-slide>

      <ion-slide>
        <img src="https://image.tmdb.org/t/p/w500_and_h282_face/dnXCNOm3cHshs32tCOw5okaCmmQ.jpg"/>
      </ion-slide>

      <ion-slide>
        <img src="https://image.tmdb.org/t/p/w500_and_h282_face/snMCLGKEyaFvQl6PUm4nqHlmQlU.jpg"/>
      </ion-slide>
      </ion-slides>
      </ion-toolbar>
  </ion-header>

</ion-content>