<ion-header>
  <ion-toolbar color="danger">    
      <ion-button color="danger" shape="round" href="#">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    <ion-title  class="ion-text-center">Informações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  color="dark">

  <div class="banner">
    <div class="info-banner">
      <h2>Os Simpsons</h2>
      <p>1989 &nbsp;&nbsp; L &nbsp;&nbsp; 22m </p>
      <ion-button color="success" size="small">Assistir</ion-button>
    </div>
  </div>

  <ion-header>
    <ion-toolbar  color="dark">
      <ion-title class="ion-text-center">Sinopse </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-item color="medium">
      <div>
        <p>A família Simpsons mora na cidade de Springfield, uma cidade americana como qualquer outra. 
          Homer trabalha como inspetor de segurança numa usina de energia nuclear. Marge tenta manter a paz em sua família. 
          Bart é um travesso garoto de 10 anos. Lisa, 8, é a inteligente da família, que adora tocar saxofone e é vegetariana. 
          E a pequena Maggie conquista todos enquanto não larga sua chupeta. E a série tem um rico, e muitas vezes estranho, 
          universo de personagens que também habitam Springfield. Com roteiros inteligentes, humor subversivo e divertidamente genial, 
          a série faz piadas de si mesma e de todo mundo que aparecer em seu caminho.</p>
      </div>
    </ion-item>
  </ion-card>

    <ion-header>
      <ion-toolbar  color="dark">
        <ion-title class="ion-text-center">Elenco </ion-title>
      </ion-toolbar>
    </ion-header>
      <ion-list>
        <ion-item color="medium">
          <ion-avatar slot="start">
            <img src="https://image.tmdb.org/t/p/w138_and_h175_face/AmeqWhP4A46AWkM4kVphg6jOTQX.jpg">
          </ion-avatar>
          <ion-label>
            <h2>Dan Castellaneta</h2>
            <h3>Homer Simpson</h3>
          </ion-label>
        </ion-item>

        <ion-item color="medium">
          <ion-avatar slot="start">
            <img src="https://image.tmdb.org/t/p/w138_and_h175_face/x3oG3OXtBfTFgqXPqxI1GKVEiaQ.jpg">
          </ion-avatar>
          <ion-label>
            <h2>Julie Kavner</h2>
            <h3>Marge Simpson</h3>
          </ion-label>
        </ion-item>

        <ion-item color="medium">
          <ion-avatar slot="start">
            <img src="https://image.tmdb.org/t/p/w138_and_h175_face/40qNhyYJhSE2Yiy4pnXSZhdufO6.jpg">
          </ion-avatar>
          <ion-label>
            <h2>Nancy Cartwright</h2>
            <h3>Bart Simpson</h3>
          </ion-label>
        </ion-item>

        <ion-item color="medium">
          <ion-avatar slot="start">
            <img src="https://image.tmdb.org/t/p/w138_and_h175_face/9AjPwbb3uz4GfgOPBYsy2ILvwkB.jpg">
          </ion-avatar>
          <ion-label>
            <h2>Yeardley Smith</h2>
            <h3>Lisa Simpson</h3>
          </ion-label>
        </ion-item>
      </ion-list>

      <ion-header>
        <ion-toolbar  color="dark">
      <ion-slides>
        <ion-slide>
            <img src="https://image.tmdb.org/t/p/w533_and_h300_bestv2/adZ9ldSlkGfLfsHNbh37ZThCcgU.jpg"/>
        </ion-slide>
    
        <ion-slide>
          <img src="https://image.tmdb.org/t/p/w500_and_h282_face/5zS9trn5k6T6Oew85ZIEKUfRo91.jpg"/>
        </ion-slide>
  
        <ion-slide>
          <img src="https://image.tmdb.org/t/p/w500_and_h282_face/kJVpFSpGzAGF2PMkiONIV9yR9c1.jpg"/>
        </ion-slide>
  
        <ion-slide>
          <img src="https://image.tmdb.org/t/p/w500_and_h282_face/xWsTw6LhmNYQAwdv1m0ZNUmbym7.jpg"/>
        </ion-slide>

        <ion-slide>
          <img src="https://image.tmdb.org/t/p/w500_and_h282_face/psSiIGpKXMiSmjA8B78JfzMJP8a.jpg"/>
        </ion-slide>
        </ion-slides>
        </ion-toolbar>
    </ion-header>

</ion-content>