<ion-header>
  <ion-toolbar color="danger">    
      <ion-button color="danger" shape="round" href="#">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    <ion-title>Informações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">

  <div class="banner">
    <div class="info-banner">
      <h2>Riverdale</h2>
      <p>2017 &nbsp;&nbsp; 14 &nbsp;&nbsp; 45m </p>
      <ion-button color="success" size="small">Assistir</ion-button>
    </div>
  </div>

  <ion-header>
    <ion-toolbar  color="dark">
      <ion-title>Elenco </ion-title>
    </ion-toolbar>
  </ion-header>
    <ion-list>
      <ion-item color="medium">
        <ion-avatar slot="start">
          <img src="https://image.tmdb.org/t/p/w138_and_h175_face/pm0exKBsLrwRD4V1DxJ9HPJxOp.jpg">
        </ion-avatar>
        <ion-label>
          <h2>K.J. Apa</h2>
          <h3>Archie Andrews</h3>
        </ion-label>
      </ion-item>

      <ion-item color="medium">
        <ion-avatar slot="start">
          <img src="https://image.tmdb.org/t/p/w138_and_h175_face/lXZ1iHoSOwc5REqwXm3eoiPejB3.jpg">
        </ion-avatar>
        <ion-label>
          <h2>Camila Mendes</h2>
          <h3>Veronica Lodge</h3>
        </ion-label>
      </ion-item>

      <ion-item color="medium">
        <ion-avatar slot="start">
          <img src="https://image.tmdb.org/t/p/w138_and_h175_face/7q9dCds3jDkSBo9FgtNRwOwRLxr.jpg">
        </ion-avatar>
        <ion-label>
          <h2>Lili Reinhart</h2>
          <h3>Elizabeth "Betty" Cooper</h3>
        </ion-label>
      </ion-item>

      <ion-item color="medium">
        <ion-avatar slot="start">
          <img src="https://image.tmdb.org/t/p/w138_and_h175_face/mQAXL0rUGwX316d1FBBQmloZzHu.jpg">
        </ion-avatar>
        <ion-label>
          <h2>Cole Sprouse</h2>
          <h3>Jughead Jones</h3>
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-header>
      <ion-toolbar  color="dark">
        <ion-title> Avaliação dos usuários </ion-title>
        <div slot="end" class="c100 p74 small green">
          <span>84%</span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>
      </ion-toolbar>
    </ion-header>
    
    <ion-header>
      <ion-toolbar  color="dark">
    <ion-slides>
      <ion-slide>
          <img src="https://image.tmdb.org/t/p/w500_and_h282_face/9hvhGtcsGhQY58pukw8w55UEUbL.jpg"/>
      </ion-slide>
  
      <ion-slide>
        <img src="https://image.tmdb.org/t/p/w533_and_h300_bestv2/57tEFdbx3cHq55AlRNIh2LEu7Qx.jpg"/>
      </ion-slide>

      <ion-slide>
        <img src="https://image.tmdb.org/t/p/w500_and_h282_face/aNKIbzLftZ14NnZJVZTQHL332Ho.jpg"/>
      </ion-slide>

      <ion-slide>
        <img src="https://image.tmdb.org/t/p/w500_and_h282_face/g4VfyYxLYWgZbQScctCkdqWZQLn.jpg"/>
      </ion-slide>

      <ion-slide>
        <img src="https://image.tmdb.org/t/p/w500_and_h282_face/p3FCnFi4QSxeZcqynzcQzx14mOs.jpg"/>
      </ion-slide>
    </ion-slides>
      </ion-toolbar>
  </ion-header>


</ion-content>