<ion-header>
  <ion-toolbar color="danger">    
      <ion-button color="danger" shape="round" href="#">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    <ion-title class="ion-text-center">Informações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">

  <div class="banner">
    <div class="info-banner">
      <h2>The Walking Dead</h2>
      <p>2010 &nbsp;&nbsp; 16 &nbsp;&nbsp; 42m </p>
      <ion-button color="success" size="small">Assistir</ion-button>
    </div>
  </div>

  <ion-header>
    <ion-toolbar  color="dark">
      <ion-title class="ion-text-center">Elenco </ion-title>
    </ion-toolbar>
  </ion-header>
    <ion-list>
      <ion-item color="medium">
        <ion-avatar slot="start">
          <img src="https://image.tmdb.org/t/p/w138_and_h175_face/bu1uBQM6ODGRE5TEm6l8gmyOApn.jpg">
        </ion-avatar>
        <ion-label>
          <h2>Andrew Lincoln</h2>
          <h3>Rick Grimes</h3>
        </ion-label>
      </ion-item>

      <ion-item color="medium">
        <ion-avatar slot="start">
          <img src="https://image.tmdb.org/t/p/w138_and_h175_face/ozHPdO5jAt7ozzdZUgyRAMNPSDW.jpg">
        </ion-avatar>
        <ion-label>
          <h2>Norman Reedus</h2>
          <h3>Daryl Dixon</h3>
        </ion-label>
      </ion-item>

      <ion-item color="medium">
        <ion-avatar slot="start">
          <img src="https://image.tmdb.org/t/p/w138_and_h175_face/z7H7QeQvr24vskGlANQhG43vozQ.jpg">
        </ion-avatar>
        <ion-label>
          <h2>Danai Gurira</h2>
          <h3>Michoone</h3>
        </ion-label>
      </ion-item>

      <ion-item color="medium">
        <ion-avatar slot="start">
          <img src="https://image.tmdb.org/t/p/w138_and_h175_face/w7LGO0SdH2w1vey52yksohI0BqQ.jpg">
        </ion-avatar>
        <ion-label>
          <h2>Chandler Riggs</h2>
          <h3>Carl Grimes</h3>
        </ion-label>
      </ion-item>

      <ion-item color="medium">
        <ion-avatar slot="start">
          <img src="https://image.tmdb.org/t/p/w138_and_h175_face/5XU0L0drBa7JlGrLg2w3LhAgjG0.jpg">
        </ion-avatar>
        <ion-label>
          <h2>Steve Yeun</h2>
          <h3>Gleen Rhee</h3>
        </ion-label>
      </ion-item>

      <ion-item color="medium">
        <ion-avatar slot="start">
          <img src="https://image.tmdb.org/t/p/w138_and_h175_face/2LamrIKwEPm4i654fNzN8t1vrgf.jpg">
        </ion-avatar>
        <ion-label>
          <h2>Lauren Cohan</h2>
          <h3>Maggie Greene</h3>
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-header>
      <ion-toolbar  color="dark">
        <ion-title> Avaliação dos usuários </ion-title>
        <div slot="end" class="c100 p74 small green">
          <span>76%</span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>
      </ion-toolbar>
    </ion-header>

    <ion-header>
      <ion-toolbar  color="dark">
    <ion-slides>
      <ion-slide>
          <img src="https://image.tmdb.org/t/p/w533_and_h300_bestv2/xOdA6paXYAWURfNNdYk7Oz62mxA.jpg"/>
      </ion-slide>
  
      <ion-slide>
        <img src="https://image.tmdb.org/t/p/w533_and_h300_bestv2/xVzvD5BPAU4HpleFSo8QOdHkndo.jpg"/>
      </ion-slide>

      <ion-slide>
        <img src="https://image.tmdb.org/t/p/w533_and_h300_bestv2/wXXaPMgrv96NkH8KD1TMdS2d7iq.jpg"/>
      </ion-slide>

      <ion-slide>
        <img src="https://image.tmdb.org/t/p/w500_and_h282_face/w75xv0Wm3FQkFiLFM7AHxobLEPw.jpg"/>
      </ion-slide>

      <ion-slide>
        <img src="https://image.tmdb.org/t/p/w500_and_h282_face/5iX0BTcbWQWD0LPUz1fBotc6niC.jpg"/>
      </ion-slide>

      <ion-slide>
        <img src="https://image.tmdb.org/t/p/w533_and_h300_bestv2/qaQH3qWucxIYv5ztQ176Q59CYSy.jpg"/>
      </ion-slide>

      <ion-slide>
        <img src="https://image.tmdb.org/t/p/w500_and_h282_face/3ynZzFOTXVKgN9zaIXLehZCKKfY.jpg"/>
      </ion-slide>
    </ion-slides>
      </ion-toolbar>
  </ion-header>

</ion-content>